.inp-div{
  margin-top: 60px;
}

.inp-div input{
  width: 400px;
  padding: 10px 10px 10px 25px;
}
.email-inp::placeholder , .password-inp::placeholder{
  color: black;
  font-size: 16px;
}
.sign-btn{
  width: 400px;
  margin-top: 30px;
}
.side{
  background-color: rgb(75, 75, 232);
  border-top-left-radius: 50px;
}

@media screen and (max-width:415px) {

  .inp-div input{
    width: 330px;
  }
  .sign-btn{
    width: 150px;
  }
  .side{
    border-radius: 10px;
  }
}

@media screen and (min-width:992px) {
  .main{
    height: 678px;
  }
}

